.contact-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0 10px;
    user-select: none;
}
.contact-body img{
    object-fit: contain;
    width: 100%;
    flex-shrink: 1;
}
.contact-body h1{
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #f5f5f5;
}
.contact-body article{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
   
    word-break: break-all;
}
.contact-body article p {
    color: #999;
}
.contact-body article p a{
    color: #995aff;
    user-select: text;
}