.filter-wrap{
    margin-bottom: 36px
}
 .first-lever{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
 .first-lever .first-lever-item{
    padding-bottom: 14px;
    color: #f5f5f5 !important;
}
  .filter-item-label{
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #999;
    margin-top: 30px;
    margin-right: 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

  .filter-item-label:hover{
    color: #995aff;
    cursor: pointer;
}
 .first-lever .firest-lever-item-active{
    position: relative;
}
 .first-lever .firest-lever-item-active::after{
    content: " ";
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background: #995aff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
 .filer-area{
    margin-top: 20px;
}
 .filer-area .filter-row{
    display: flex;
    flex-wrap: wrap;
}
 .filer-area .filter-row .filter-item-label-active{
    color: #f5f5f5;
}
.filter-list{
    margin-bottom: 36px;
}