.select-dropdown{
    position: absolute;
    width: calc(100% - 20px);
    top:50px;
    left: 20px;
    z-index: 2000;
    border: 0;
    border-radius: 4px;
    background-color: #000;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 5px 0;
    transform-origin: center top;
}
.select-scrollbar{
    overflow: hidden;
    position: relative;
}
.select-dropdown-wrap{
    overflow: scroll;
    height: 100%;
    margin-bottom: -15px;
    margin-right: -15px;
    max-height: 270px;
}
.select-group-title{
    color: #999;
    font-size: 12px;
    padding-left: 20px;
    line-height: 30px;
}
.select-dropdown-item{
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f5f5f5;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}
.select-dropdown-item:hover {
    color: #995aff;
    background-color: #333;
    border-color: #333;
}
.rank-1{
    color: #ff4370!important;
}
.rank-2{
    color: #ff8ba0!important;
}
.rank-3{
    color: #ffaeb8!important;
}
.rank-other{
    color: #999;
    margin-right: 10px;
}
.popper__arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5;
    left: 54.3906px;
}
.navbar, .list-nav-bar,a.makeStyles-wrap-20{
    flex-wrap: nowrap!important;
}
a.makeStyles-wrap-20{
    white-space: nowrap;
}
.navbar{
    right: 0;
}
@media screen and (max-width: 1440px) {
    .input_inner{
        width: 400px!important  ;
    }
}

@media screen and (max-width: 1140px){
    .dropdown-language .select-language-label{
        display:none;
    }
    .dropdown-language .dropdown-icon{
        display:none;
    }
}

@media screen and (max-width: 1024px){
    .input_inner{
        width: 200px!important;
    }
    .user buttton{
        margin-left: 0!important;
    }
    .navbar{
        padding: 0 20px!important;
    }
    .input-wrap{
        margin-right: 0!important;
    }
}
@media screen and (max-width: 768px){

    a.makeStyles-wrap-20{
        margin-left:15px!important;
    }
    .input_inner{
        width: 200px!important;
    }
    .navbar{
        max-width: 100%;
        padding: 0 20px !important;
    }
    .input-wrap{
        margin-right: 10px!important;
    }
    .nav-list{
        display: none!important;
    }
}

@media screen and (max-width: 425px){
    .nav-list{
        display: none!important;
    }
    .input_inner{
        width: 150px!important;
    }
}

@media screen and (max-width: 320px){
    .input-wrap{
       display: none!important;
    }
}