.profile_body{
    display: flex;
    padding-top: 200px;
    justify-content: space-evenly;
}
.profile_body img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.profile_body .profile_info{
    margin-right: 50px;
}
.profile_body .profile_info .info_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    row-gap: 20px;
}
.profile_body .profile_info .info_wrap div{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.profile_body .profile_info .info_wrap div span{
    color: #ccc;
}

@media screen and (max-width: 768px) {
    #container{
        min-width: auto!important;
    }
    .profile_body{
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    .profile_body img{
        width: 400px;
        height: 400px;
    }
    .profile_info{
        margin-top: 50px;
    }
}
@media screen and (max-width: 425px) {
 
    .profile_body img{
        width: 250px;
        height: 250px;
    }
  
}